<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Monopoly</title>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="static/js/classicedition.js"></script>
	<!-- Comment out the previous line and uncomment the next one to enable the New York City Edition -->
	<!-- <script type="text/javascript" src="newyorkcityedition.js"></script> -->
	<!-- <script type="text/javascript" src="ai.js"></script> -->
	<script type="text/javascript" src="static/js/monopoly.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/styles.css" />
</head>

<body>
	<div id="popupbackground"></div>
	<div id="popupwrap">
		<div id="popup">
			<div style="position: relative;">
				<!-- <img id="popupclose" src="static/close.png" title="Close" alt="x" onclick="hide('popupbackground'); hide('popupwrap');" /> -->
				<div id="popuptext"></div>
				<div id="popupdrag"></div>
			</div>
		</div>
	</div>

	<div id="statsbackground"></div>
	<div id="statswrap">
		<div id="stats">
			<div style="position: relative;">
				<img id="statsclose" src="static/close.png" title="Close" alt="x" />
				<div id="statstext"></div>
				<div id="statsdrag"></div>
			</div>
		</div>
	</div>

	<p id="noscript">
		Note: This page will not function without JavaScript.
	</p>

	<div id="refresh">
		Refresh this page to start a new game.
	</div>

	<!-- <div id="enlarge"></div> -->

	<div id="deed">
		<div id="deed-normal" style="display: none;">
			<div id="deed-header">
				<div style="margin: 5px; font-size: 11px;">P R O B L E M &nbsp;&nbsp;C A R D</div>
				<div id="deed-name"></div>
			</div>
			<table id="deed-table">
				<!-- <tr>
					<td colspan="2">
						RENT&nbsp;$<span id="deed-baserent">12</span>.
					</td>
				</tr> -->
				 <tr>
					<td style="text-align: left;">Level Acquired</td>
					<td id = "difficulty-level" style="text-align: right;">$&nbsp;&nbsp;&nbsp;.</td>
				</tr>

				<tr>
					<td style="text-align: left;">Points</td>
					<td id = "deed-points"style="text-align: right;">.</td>
				</tr>
			</table>
		</div>
	</div>

	<table id="board">
		<tr>
			<td class="cell board-corner" id="cell12"></td>
			<td class="cell board-top" id="cell13"></td>
			<td class="cell board-top" id="cell14"></td>
			<td class="cell board-top" id="cell15"></td>
			<td class="cell board-top" id="cell16"></td>
			<td class="cell board-top" id="cell17"></td>
			<td class="cell board-corner" id="cell18"></td>
		</tr><tr>
			<td class="cell board-left" id="cell11"></td>
			<td colspan="5" class="board-center"></td>
			<td class="cell board-right" id="cell19"></td>
		</tr><tr>
			<td class="cell board-left" id="cell10"></td>
			<td colspan="5" class="board-center"></td>
			<td class="cell board-right" id="cell20"></td>
		</tr><tr>
			<td class="cell board-left" id="cell9"></td>
			<td colspan="5" class="board-center"></td>
			<td class="cell board-right" id="cell21"></td>
		</tr><tr>
			<td class="cell board-left" id="cell8"></td>
			<td colspan="5" class="board-center"></td>
			<td class="cell board-right" id="cell22"></td>
		</tr>
		<tr>
			<td class="cell board-left" id="cell7"></td>
			<td colspan="5" class="board-center"></td>
			<td class="cell board-right" id="cell23"></td>
		</tr>
		<tr>
			<td class="cell board-corner" id="cell6"></td>
			<td class="cell board-bottom" id="cell5"></td> 
			<td class="cell board-bottom" id="cell4"></td>
			<td class="cell board-bottom" id="cell3"></td>
			<td class="cell board-bottom" id="cell2"></td>
			<td class="cell board-bottom" id="cell1"></td>
			<td class="cell board-corner" id="cell0"></td>
		</tr>
	</table>

	<div id="moneybarwrap">
		<div id="moneybar">
			<table>
				<tr id="moneybarrow0" class="money-bar-row">

					<td class="moneybararrowcell"><img src="static/arrow.png" id="p0arrow" class="money-bar-arrow" alt=">" /></td>
					<td id="p0moneybar" class="moneybarcell">
						<div><span id="p0moneyname" >Player 0</span>:</div>
						<div><span id="p0money">1500</span></div>
						<div><span id="p0grade">1500</span></div>
					</td>
				</tr>
				<tr id="moneybarrow1" class="money-bar-row">
					<td class="moneybararrowcell"><img src="static/arrow.png" id="p1arrow" class="money-bar-arrow" alt=">"/></td>
					<td id="p1moneybar" class="moneybarcell">
						<div><span id="p1moneyname" >Player 1</span>:</div>
						<div><span id="p1money">1500</span> Points</div>
						<div><span id="p1grade">1500</span></div>
					</td>
				</tr>
				<tr id="moneybarrow2" class="money-bar-row">
					<td class="moneybararrowcell"><img src="static/arrow.png" id="p2arrow" class="money-bar-arrow" alt=">" /></td>
					<td id="p2moneybar" class="moneybarcell">
						<div><span id="p2moneyname" >Player 2</span>:</div>
						<div><span id="p2money">1500</span> Points</div>
						<div><span id="p2grade">1500</span></div>
					</td>
				</tr>
				<tr id="moneybarrow3" class="money-bar-row">
					<td class="moneybararrowcell"><img src="static/arrow.png" id="p3arrow" class="money-bar-arrow" alt=">" /></td>
					<td id="p3moneybar" class="moneybarcell">
						<div><span id="p3moneyname" >Player 3</span>:</div>
						<div><span id="p3money">1500</span> Points</div>
						<div><span id="p3grade">1500</span></div>
					</td>
				</tr>
				<tr id="moneybarrow4" class="money-bar-row">
					<td class="moneybararrowcell"><img src="static/arrow.png" id="p4arrow" class="money-bar-arrow" alt=">" /></td>
					<td id="p4moneybar" class="moneybarcell">
						<div><span id="p4moneyname" >Player 4</span>:</div>
						<div><span id="p4money">1500</span> Points</div>
						<div><span id="p4grade">1500</span></div>
					</td>
				</tr>
				<tr id="moneybarrow5" class="money-bar-row">
					<td class="moneybararrowcell"><img src="static/arrow.png" id="p5arrow" class="money-bar-arrow" alt=">" /></td>
					<td id="p5moneybar" class="moneybarcell">
						<div><span id="p5moneyname" >Player 5</span>:</div>
						<div><span id="p5money">1500</span> Points</div>
						<div><span id="p5grade">1500</span></div>
					</td>
				</tr>
				<tr id="moneybarrow6" class="money-bar-row">
					<td class="moneybararrowcell"><img src="static/arrow.png" id="p6arrow" class="money-bar-arrow" alt=">" /></td>
					<td id="p6moneybar" class="moneybarcell">
						<div><span id="p6moneyname" >Player 6</span>:</div>
						<div><span id="p6money">1500</span> Points</div>
						<div><span id="p6grade">1500</span></div>
					</td>
				</tr>
				<tr id="moneybarrow7" class="money-bar-row">
					<td class="moneybararrowcell"><img src="static/arrow.png" id="p7arrow" class="money-bar-arrow" alt=">" /></td>
					<td id="p7moneybar" class="moneybarcell">
						<div><span id="p7moneyname" >Player 7</span>:</div>
						<div><span id="p7money">1500</span> Points</div>
						<div><span id="p7grade">1500</span></div>
					</td>
				</tr>
				<tr id="moneybarrow8">
					<td style="border: none;" class="moneybararrowcell">&nbsp;</td>
					<td style="border: none;">
						<input type="button" id="viewstats" value="View stats" onclick = "showStats();" title="View a pop-up window that shows a list of each player's properties." />
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div id="setup">
		<div style="margin-bottom: 20px;">
			Select number of players.
			<select id="playernumber" title="Select the number of players for the game.">
				<option>2</option>
				<option>3</option>
				<option selected="selected">4</option>
				<option>5</option>
				<option>6</option>
				<option>7</option>
				<option>8</option>
			</select>
		</div>

		<div id="player1input" class="player-input">
			Player 1: <input type="text" id="player1name" title="Player name" maxlength="16" value="Player 1" />
			<select id="player1color" title="Player color">
				<option style="color: aqua;">Aqua</option>
				<option style="color: black;">Black</option>
				<option style="color: blue;">Blue</option>
				<option style="color: fuchsia;">Fuchsia</option>
				<option style="color: gray;">Gray</option>
				<option style="color: green;">Green</option>
				<option style="color: lime;">Lime</option>
				<option style="color: maroon;">Maroon</option>
				<option style="color: navy;">Navy</option>
				<option style="color: olive;">Olive</option>
				<option style="color: orange;">Orange</option>
				<option style="color: purple;">Purple</option>
				<option style="color: red;">Red</option>
				<option style="color: silver;">Silver</option>
				<option style="color: teal;">Teal</option>
				<option selected="selected" style="color: yellow;">Yellow</option>
			</select>
			<!-- <select id="player1ai" title="Choose whether this player is controled by a human or by the computer." onclick="document.getElementById('player1name').disabled = this.value !== '0';">
				<option value="0" selected="selected">Human</option>
				<option value="1">AI (Test)</option>
			</select> -->
		</div>

		<div id="player2input" class="player-input">
			Player 2: <input type="text" id="player2name" title="Player name" maxlength="16" value="Player 2" />
			<select id="player2color" title="Player color">
				<option style="color: aqua;">Aqua</option>
				<option style="color: black;">Black</option>
				<option selected="selected" style="color: blue;">Blue</option>
				<option style="color: fuchsia;">Fuchsia</option>
				<option style="color: gray;">Gray</option>
				<option style="color: green;">Green</option>
				<option style="color: lime;">Lime</option>
				<option style="color: maroon;">Maroon</option>
				<option style="color: navy;">Navy</option>
				<option style="color: olive;">Olive</option>
				<option style="color: orange;">Orange</option>
				<option style="color: purple;">Purple</option>
				<option style="color: red;">Red</option>
				<option style="color: silver;">Silver</option>
				<option style="color: teal;">Teal</option>
				<option style="color: yellow;">Yellow</option>
			</select>
			<!-- <select id="player2ai" title="Choose whether this player is controled by a human or by the computer." onclick="document.getElementById('player2name').disabled = this.value !== '0';">
				<option value="0" selected="selected">Human</option>
				<option value="1">AI (Test)</option>
			</select> -->
		</div>

		<div id="player3input" class="player-input">
			Player 3: <input type="text" id="player3name" title="Player name" maxlength="16" value="Player 3" />
			<select id="player3color" title="Player color">
				<option style="color: aqua;">Aqua</option>
				<option style="color: black;">Black</option>
				<option style="color: blue;">Blue</option>
				<option style="color: fuchsia;">Fuchsia</option>
				<option style="color: gray;">Gray</option>
				<option style="color: green;">Green</option>
				<option style="color: lime;">Lime</option>
				<option style="color: maroon;">Maroon</option>
				<option style="color: navy;">Navy</option>
				<option style="color: olive;">Olive</option>
				<option style="color: orange;">Orange</option>
				<option style="color: purple;">Purple</option>
				<option selected="selected" style="color: red;">Red</option>
				<option style="color: silver;">Silver</option>
				<option style="color: teal;">Teal</option>
				<option style="color: yellow;">Yellow</option>
			</select>
			<!-- <select id="player3ai" title="Choose whether this player is controled by a human or by the computer." onclick="document.getElementById('player3name').disabled = this.value !== '0';">
				<option value="0" selected="selected">Human</option>
				<option value="1">AI (Test)</option> -->
			<!-- </select> -->
		</div>

		<div id="player4input" class="player-input">
			Player 4: <input type="text" id="player4name" title="Player name" maxlength="16" value="Player 4" />
			<select id="player4color" title="Player color">
				<option style="color: aqua;">Aqua</option>
				<option style="color: black;">Black</option>
				<option style="color: blue;">Blue</option>
				<option style="color: fuchsia;">Fuchsia</option>
				<option style="color: gray;">Gray</option>
				<option style="color: green;">Green</option>
				<option selected="selected" style="color: lime;">Lime</option>
				<option style="color: maroon;">Maroon</option>
				<option style="color: navy;">Navy</option>
				<option style="color: olive;">Olive</option>
				<option style="color: orange;">Orange</option>
				<option style="color: purple;">Purple</option>
				<option style="color: red;">Red</option>
				<option style="color: silver;">Silver</option>
				<option style="color: teal;">Teal</option>
				<option style="color: yellow;">Yellow</option>
			</select>
			<!-- <select id="player4ai" title="Choose whether this player is controled by a human or by the computer." onclick="document.getElementById('player4name').disabled = this.value !== '0';">
				<option value="0" selected="selected">Human</option>
				<option value="1">AI (Test)</option>
			</select> -->
		</div>

		<div id="player5input" class="player-input">
			Player 5: <input type="text" id="player5name" title="Player name" maxlength="16" value="Player 5" />
			<select id="player5color" title="Player color">
				<option style="color: aqua;">Aqua</option>
				<option style="color: black;">Black</option>
				<option style="color: blue;">Blue</option>
				<option style="color: fuchsia;">Fuchsia</option>
				<option style="color: gray;">Gray</option>
				<option selected="selected" style="color: green;">Green</option>
				<option style="color: lime;">Lime</option>
				<option style="color: maroon;">Maroon</option>
				<option style="color: navy;">Navy</option>
				<option style="color: olive;">Olive</option>
				<option style="color: orange;">Orange</option>
				<option style="color: purple;">Purple</option>
				<option style="color: red;">Red</option>
				<option style="color: silver;">Silver</option>
				<option style="color: teal;">Teal</option>
				<option style="color: yellow;">Yellow</option>
			</select>
			<!-- <select id="player5ai" title="Choose whether this player is controled by a human or by the computer." onclick="document.getElementById('player5name').disabled = this.value !== '0';">
				<option value="0" selected="selected">Human</option>
				<option value="1">AI (Test)</option>
			</select> -->
		</div>

		<div id="player6input" class="player-input">
			Player 6: <input type="text" id="player6name" title="Player name" maxlength="16" value="Player 6" />
			<select id="player6color" title="Player color">
				<option selected="selected" style="color: aqua;">Aqua</option>
				<option style="color: black;">Black</option>
				<option style="color: blue;">Blue</option>
				<option style="color: fuchsia;">Fuchsia</option>
				<option style="color: gray;">Gray</option>
				<option style="color: green;">Green</option>
				<option style="color: lime;">Lime</option>
				<option style="color: maroon;">Maroon</option>
				<option style="color: navy;">Navy</option>
				<option style="color: olive;">Olive</option>
				<option style="color: orange;">Orange</option>
				<option style="color: purple;">Purple</option>
				<option style="color: red;">Red</option>
				<option style="color: silver;">Silver</option>
				<option style="color: teal;">Teal</option>
				<option style="color: yellow;">Yellow</option>
			</select>
			<!-- <select id="player6ai" title="Choose whether this player is controled by a human or by the computer." onclick="document.getElementById('player6name').disabled = this.value !== '0';">
				<option value="0" selected="selected">Human</option>
				<option value="1">AI (Test)</option>
			</select> -->
		</div>

		<div id="player7input" class="player-input">
			Player 7: <input type="text" id="player7name" title="Player name" maxlength="16" value="Player 7" />
			<select id="player7color" title="Player color">
				<option style="color: aqua;">Aqua</option>
				<option style="color: black;">Black</option>
				<option style="color: blue;">Blue</option>
				<option style="color: fuchsia;">Fuchsia</option>
				<option style="color: gray;">Gray</option>
				<option style="color: green;">Green</option>
				<option style="color: lime;">Lime</option>
				<option style="color: maroon;">Maroon</option>
				<option style="color: navy;">Navy</option>
				<option style="color: olive;">Olive</option>
				<option selected="selected" style="color: orange;">Orange</option>
				<option style="color: purple;">Purple</option>
				<option style="color: red;">Red</option>
				<option style="color: silver;">Silver</option>
				<option style="color: teal;">Teal</option>
				<option style="color: yellow;">Yellow</option>
			</select>
			<!-- <select id="player7ai" title="Choose whether this player is controled by a human or by the computer." onclick="document.getElementById('player7name').disabled = this.value !== '0';">
				<option value="0" selected="selected">Human</option>
				<option value="1">AI (Test)</option>
			</select> -->
		</div>

		<div id="player8input" class="player-input">
			Player 8: <input type="text" id="player8name" title="Player name" maxlength="16" value="Player 8" />
			<select id="player8color" title="Player color">
				<option style="color: aqua;">Aqua</option>
				<option style="color: black;">Black</option>
				<option style="color: blue;">Blue</option>
				<option style="color: fuchsia;">Fuchsia</option>
				<option style="color: gray;">Gray</option>
				<option style="color: green;">Green</option>
				<option style="color: lime;">Lime</option>
				<option style="color: maroon;">Maroon</option>
				<option style="color: navy;">Navy</option>
				<option style="color: olive;">Olive</option>
				<option style="color: orange;">Orange</option>
				<option selected="selected" style="color: purple;">Purple</option>
				<option style="color: red;">Red</option>
				<option style="color: silver;">Silver</option>
				<option style="color: teal;">Teal</option>
				<option style="color: yellow;">Yellow</option>
			</select>
			
		</div>

		<div style="margin: 20px 0px;">
			<input type="button" value="Start Game" onclick="setup();" title="Begin playing." />
		</div>

		<div id="noF5">Note: Refreshing this page or navigating away from it may end your game without warning.</div>
	</div>

	<div id="control">
		<table>
			<tr>
				<td style="text-align: left; vertical-align: top; border: none;">
					<div id="menu">
						
					</div>

					<div id="buy">
						<div id="alert"></div>
						<div id="landed"></div>
					</div>

					
				</td>
				<td style="vertical-align: top; border: none;">
					<div id="quickstats" style="">
							<div><span id="pname" >Player 1</span>:</div>
							<div><span id="pmoney">$1500</span></div>
					</div>
					<div>
						<div id="die0" title="Die" class="die die-no-img"></div>
						<div id="die1" title="Die" class="die die-no-img"></div>
					</div>

				</td>
			</tr><tr>
				<td colspan="2" style="border: none">
					<div style="padding-top: 8px;">
						<input type="button" id="nextbutton" title="Roll the dice and move your token accordingly." value="Roll Dice"/>
						<input type="button" id="resignbutton" title="If you cannot pay your debt then you must resign from the game." value="Resign" onclick="game.resign();" />
					</div>
				</td>
			</tr>
		</table>
	</div>


</body>
</html>
